// {
//   "presets": [
//     [
//       "env",
//       {
//         "targets": {
//           "node": "current"
//         }
//       }
//     ]
//   ],
//   "plugins": [
//     [
//       "transform-object-rest-spread",
//       {
//         "useBuiltIns": true
//       }
//     ]
//   ]
// }

{
  "presets": [
    "@babel/preset-env"
  ]
}
